*{
    margin: 0;
    padding: 0;
}
:root{
    --teal-grn:#008F72;
  }
body{
    background-image: url(./assets/nun_bg.png);
    background-attachment: fixed;
}

button{
    cursor: pointer;
    transition: 500ms;
}

select option{
    background-color: rgb(5 46 22 );
    border: none;
}

form input{
    display: block;
}
